body{
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    background-color: whitesmoke;
    font-size: 25px;
    text-align: center; 
    height: 100px;
    padding-top: 30px;
    margin: 20px;
}
  
.menu {
    background-color: whitesmoke;
    font-size: 25px;
    height: 40px;
    text-align: center;
    padding-top: 30px;
    margin: 20px;
}
  
.contentleft {
    width: 20%;
    text-align: center;
    height: 455px;
    background-color: whitesmoke;
    font-size: 25px;
    display: flex;
    margin-left: 20px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
  
.maincontent {
    background-color: whitesmoke;
    width: 60%;
    font-size: 25px;
    display: flex;
    margin-left: 20px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
  
.contentright {
    width: 20%;
    justify-content: center;
    background-color: whitesmoke;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 25px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.cuadrodetres {
    display: flex;
    justify-content: space-evenly;
}
  
.footer {
    margin: 20px;
    background-color: whitesmoke;
    font-size: 25px;
    height: 40px;
    text-align: center;
    padding-top: 30px;
}
