*{
    background-color: orangered;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px 3px;
}

#contenedor {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 95%;
    margin: 0 auto;
}

.numero {
    height: 400px;
    width: 400px;
    text-align: center;
    margin-left: 10px;
    line-height: 350px;
    font-size: 100px;
    font-weight: bold;
    color: white;
    background-color: rgb(41, 106, 180);
}

.filasdecuatro {
    display: flex;
}

.invisible {
    height: 400px;
    width: 400px;
    margin-left: 10px;
}